.buttons{
    button{
        background: yellow;
        padding: 18px 40px;
        
       

    }
}
.tabtext{
    margin-top: 15px;
    border: 2px solid green;
}
.accord{
    width: 100%;
    background: yellow;
    padding: 15px;
    text-align: center;

}